DATABASE_URL="file:./dev.db"
# gere com: openssl rand -base64 32
NEXTAUTH_SECRET="troque-esta-chave-em-producao-32chars-min"
NEXTAUTH_URL="http://localhost:3000"
# VPS exemplo:
# DATABASE_URL="file:/app/data/prod.db"
# NEXTAUTH_URL="http://187.127.52.68:3000"
